@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	width: 100%;
	height: 100vh;
	background-color: #232323;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main,
section {
	padding: 10px 20px;
}

main {
	width: 100%;
	height: 60%;
	color: #f4f4f4;
	background-image: url("./assets/landing_page.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 1) -15%,
			rgba(0, 0, 0, 0.4) 50%
		);
		z-index: 1;
	}

	& .main-content {
		padding: 20px;
		width: 40%;
		height: 80%;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	& h1,
	p {
		line-height: 1.4;
	}
	& h1 {
		font-size: 2.5rem;
		font-weight: 500;
	}
	& p {
		font-size: 1.1rem;
		font-weight: 300;
	}
}

section {
	margin: 10px 10px;
	border-radius: 20px;
	border: 2px solid;
	min-width: 96%;
	height: 35%;
	background-color: rgba(81, 80, 80, 0.2);
	border-color: wheat;
	-webkit-backdrop-filter: blur(10px);
}

section ul {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	position: relative;

	& li {
		list-style: none;
	}

	& .recipe {
		width: 350px;
		height: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	& .recipe-1 {
		background-image: url("./assets/Stuffed\ Peppers.png");
	}
	& .recipe-2 {
		background-image: url("./assets/Old\ School\ Mac\ n'\ Cheese.png");
	}
	& .recipe-3 {
		background-image: url("./assets/Chicken\ Enchiladas.png");
	}
}

.recipe::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 1;
}

&:hover {
	cursor: pointer;
}
li {
	padding: 5px 10px;
	text-align: center;
	& a {
		width: fit-content;
		height: fit-content;
		padding: 8px 15px;
		text-decoration: none;
		color: white;
		font-size: 2rem;
		overflow: hidden;
		border-color: transparent;
		z-index: 3;
	}
}

#hv {
	width: 370px;
	height: 105%;

	position: absolute;
	left: calc(4.7%);

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.08);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.9px);
	-webkit-backdrop-filter: blur(6.9px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

li a {
	position: relative;

	&::before,
	&::after {
		transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		content: "";
		width: 100%;
		height: 5px;
		background-color: white;
		border-radius: 100px;
		position: absolute;
		z-index: 1;
		opacity: 0;
	}
	&::before {
		top: 0;
		left: -100%;
	}
	&::after {
		bottom: 0;
		right: -100%;
	}
	&:hover {
		background-color: rgb(255, 255, 255, 0.2);
		backdrop-filter: blur(5px);
	}
	&:hover::before {
		left: 0;
		opacity: 1;
	}
	&:hover::after {
		right: 0;
		opacity: 1;
	}
}
