<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
			integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="recipe_style.css" />
		<title>Chicken Enchiladas</title>
	</head>
	<body>
		<nav>
			<h1><span>F</span>~<span>E</span></h1>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../components/Stuffed_peppers.html">recipe 1</a></li>
				<li><a href="../components/Mac_Cheese.html">recipe 2</a></li>
				<li>
					<a href="../components/Chicken_Enchiladas.html">recipe 3</a>
				</li>

				<!-- moveble div-->
				<div id="moveable"></div>
			</ul>
		</nav>
		<main>
			<h1>Chicken Enchiladas</h1>
			<div class="reviews-and-ratings">
				<div class="rattings">
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<h3>3.5 (3,057)</h3>
				</div>
				<h3>2,165 REVIEWS</h3>
				<h3>352 PHOTOS</h3>
			</div>
			<p>
				This chicken enchilada recipe is easy to make with tortillas, tender
				chicken, and a deliciously cheesy sauce for a family-pleasing
				Mexican meal.
			</p>
			<p class="date-and-info">
				<span> Recipe by <strong>Debbie</strong></span>
				<span> Updated on April 7, 2023</span>
			</p>
		</main>
		<section>
			<div class="image">
				<img src="../assets/Chicken Enchiladas.png" alt="Stuffed_peppers" />
			</div>
			<div class="recipe-details-wrapper">
				<div class="recipe-details">
					<div class="prep-time">
						<h3>Prep Time:</h3>
						<span class="time">15 mins</span>
					</div>
					<div class="cook-time">
						<h3>Cook Time:</h3>
						<span class="time">35 mins</span>
					</div>
					<div class="total-time">
						<h3>Total Time:</h3>
						<span class="time">50 mins</span>
					</div>
					<div class="servings">
						<h3>Servings:</h3>
						<span class="quantity">8</span>
					</div>
					<div class="yield">
						<h3>Yield:</h3>
						<span class="quantity">8 enchiladas</span>
					</div>
				</div>
				<hr />
				<div class="jump-to">
					<a href="#nutrition-facts">Jump to Nutrition Facts</a>
				</div>
			</div>
		</section>
		<div class="Ingredients-and-steps">
			<div class="Ingredients">
				<h2>Ingredients</h2>
				<ul>
					<li>1 tablespoon olive oil, or as needed</li>
					<li>4 skinless, boneless chicken breast halves</li>
					<li>1 onion, chopped</li>
					<li>1 ¾ cups shredded Cheddar cheese, divided</li>
					<li>½ pint sour cream</li>
					<li>1 tablespoon dried parsley</li>
					<li>½ teaspoon dried oregano</li>
					<li>½ teaspoon ground black pepper</li>
					<li>1 (15 ounce) can tomato sauce</li>
					<li>⅓ cup chopped green bell pepper</li>
					<li>1 clove garlic, minced</li>
					<li>1 tablespoon chili powder</li>
					<li>½ teaspoon salt (Optional)</li>
					<li>½ cup water (Optional)</li>
					<li>8 (10 inch) flour tortillas</li>
					<li>1 (12 ounce) jar taco sauce</li>
				</ul>
			</div>
			<div class="steps">
				<h2>Directions</h2>
				<div class="step1">
					<h3>Step 1</h3>
					<p>Preheat the oven to 350 degrees F (175 degrees C).</p>
				</div>
				<div class="step2">
					<h3>Step 2</h3>
					<p>
						Heat oil in a nonstick skillet over medium heat. Add chicken
						and cook until no longer pink and juices run clear, 5 to 7
						minutes per side.
					</p>
				</div>
				<div class="step3">
					<h3>Step 3</h3>
					<p>
						Transfer chicken to a cutting board and slice into cubes.
						Return chicken to the skillet.
					</p>
				</div>
				<div class="step4">
					<h3>Step 4</h3>
					<p>
						Add onion, 1 cup Cheddar cheese, sour cream, parsley, oregano,
						and black pepper. Cook and stir over low heat until cheese
						melts. Stir in tomato sauce, green pepper, garlic, chili
						powder, and salt. Add water if needed.
					</p>
				</div>
				<div class="step5">
					<h3>Step 5</h3>
					<p>
						Spoon chicken mixture into tortillas and roll into enchiladas.
						Arrange enchiladas, seam-side down, in a 9x13-inch baking
						dish. Top with taco sauce and remaining 3/4 cup Cheddar
						cheese.
					</p>
				</div>
				<div class="step6">
					<h3>Step 6</h3>
					<p>
						Bake in the preheated oven, uncovered, until cheese has
						melted, about 20 minutes. Let cool briefly before serving.
					</p>
				</div>
			</div>
		</div>
		<script src="index.js"></script>
	</body>
</html>
