<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="recipe_style.css" />
		<title>Chicken Enchiladas</title>
	</head>
	<body>
		<nav>
			<h1><span>F</span>~<span>E</span></h1>
			<ul>
            <li><a href="../index.html">Home</a></li>
				<li><a href="../components/Stuffed_peppers.html">recipe 1</a></li>
				<li><a href="../components/Mac_Cheese.html">recipe 2</a></li>
				<li>
					<a href="../components/Chicken_Enchiladas.html">recipe 3</a>
				</li>
            
            <!-- moveble div-->
            <div id="moveable"></div>
			</ul>
		</nav>
		<div class="recipe">
			<h1>Chicken Enchiladas</h1>
		</div>

		<script src="index.js"></script>
	</body>
</html>
