<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
			integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="recipe_style.css" />
		<title>Chicken Enchiladas</title>
	</head>
	<body>
		<nav>
			<h1><span>F</span>~<span>E</span></h1>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../components/Stuffed_peppers.html">recipe 1</a></li>
				<li><a href="../components/Mac_Cheese.html">recipe 2</a></li>
				<li>
					<a href="../components/Chicken_Enchiladas.html">recipe 3</a>
				</li>

				<!-- moveble div-->
				<div id="moveable"></div>
			</ul>
		</nav>
		<main>
			<h1>Chicken Enchiladas</h1>
			<div class="reviews-and-ratings">
				<div class="rattings">
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<h3>3.5 (3,057)</h3>
				</div>
				<h3>2,165 REVIEWS</h3>
				<h3>352 PHOTOS</h3>
			</div>
			<p>
				This chicken enchilada recipe is easy to make with tortillas, tender
				chicken, and a deliciously cheesy sauce for a family-pleasing
				Mexican meal.
			</p>
			<p class="date-and-info">
				<span> Recipe by <strong>Debbie</strong></span>
				<span> Updated on April 7, 2023</span>
			</p>
		</main>
		<section>
			<div class="image">
				<img src="../assets/Chicken Enchiladas.png" alt="Stuffed_peppers" />
			</div>
			<div class="recipe-details-wrapper">
				<div class="recipe-details">
					<div class="prep-time">
						<h3>Prep Time:</h3>
						<span class="time">15 mins</span>
					</div>
					<div class="cook-time">
						<h3>Cook Time:</h3>
						<span class="time">35 mins</span>
					</div>
					<div class="total-time">
						<h3>Total Time:</h3>
						<span class="time">50 mins</span>
					</div>
					<div class="servings">
						<h3>Servings:</h3>
						<span class="quantity">8</span>
					</div>
					<div class="yield">
						<h3>Yield:</h3>
						<span class="quantity">8 enchiladas</span>
					</div>
				</div>
				<hr />
				<div class="jump-to">
					<a href="#nutrition-facts">Jump to Nutrition Facts</a>
				</div>
			</div>
		</section>
		<script src="index.js"></script>
	</body>
</html>
