<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
			integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="recipe_style.css" />
		<title>Mac n' Cheese</title>
	</head>
	<body>
		<nav>
			<h1><span>F</span>~<span>E</span></h1>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../components/Stuffed_peppers.html">recipe 1</a></li>
				<li><a href="../components/Mac_Cheese.html">recipe 2</a></li>
				<li>
					<a href="../components/Chicken_Enchiladas.html">recipe 3</a>
				</li>

				<!-- moveble div-->
				<div id="moveable"></div>
			</ul>
		</nav>
		<main>
			<h1>Old School Mac n' Cheese</h1>
			<div class="reviews-and-ratings">
				<div class="rattings">
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<h3>5 (268)</h3>
				</div>
				<h3>129 REVIEWS</h3>
				<h3>42 PHOTOS</h3>
			</div>
			<p>
				This is a completely unpretentious, down-home macaroni and cheese
				recipe just like my grandma and mom always made. A simple white
				sauce where you add cheese and a few other flavors with macaroni and
				a potato chip crust. This recipe makes a lot, I like to make two
				pans so I can take one to a pot luck and have the other one to keep
				in the fridge for later. It's an easy recipe to adjust down if you
				only want to make one pan. If you aren't cooking it right away, just
				keep the topping separate until you are ready to put it in the oven.
			</p>
			<p class="date-and-info">
				<span> Recipe by <strong>Debbie</strong></span>
				<span> Updated on April 7, 2023</span>
			</p>
		</main>
		<section>
			<div class="image">
				<img src="../assets/Chicken Enchiladas.png" alt="Stuffed_peppers" />
			</div>
			<div class="recipe-details-wrapper">
				<div class="recipe-details">
					<div class="prep-time">
						<h3>Prep Time:</h3>
						<span class="time">30 mins</span>
					</div>
					<div class="cook-time">
						<h3>Cook Time:</h3>
						<span class="time">45 mins</span>
					</div>
					<div class="total-time">
						<h3>Total Time:</h3>
						<span class="time">1 hr 15 mins</span>
					</div>
					<div class="servings">
						<h3>Servings:</h3>
						<span class="quantity">20</span>
					</div>
					<div class="yield">
						<h3>Yield:</h3>
						<span class="quantity">20 servings</span>
					</div>
				</div>
				<hr />
				<div class="jump-to">
					<a href="#nutrition-facts">Jump to Nutrition Facts</a>
				</div>
			</div>
		</section>
		<script src="index.js"></script>
	</body>
</html>
