<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
			integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="recipe_style.css" />
		<title>Stuffed Peppers</title>
	</head>
	<body>
		<nav>
			<h1><span>F</span>~<span>E</span></h1>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../components/Stuffed_peppers.html">recipe 1</a></li>
				<li><a href="../components/Mac_Cheese.html">recipe 2</a></li>
				<li>
					<a href="../components/Chicken_Enchiladas.html">recipe 3</a>
				</li>

				<!-- moveble div-->
				<div id="moveable"></div>
			</ul>
		</nav>
		<main>
			<h1>Stuffed Peppers</h1>
			<div class="reviews-and-ratings">
				<div class="rattings">
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<h3>4.4-(2,037)</h3>
				</div>
				<h3>1,430 REVIEWS</h3>
				<h3>465 PHOTOS</h3>
			</div>
			<p>
				Stuffed peppers with ground beef and rice are topped with a seasoned
				tomato sauce.
			</p>
			<p class="date-and-info">
				<span> Recipe by <strong>BDEGER</strong></span>
				<span> Updated on June 21, 2023</span>
			</p>
		</main>
		<section>
			<div class="image">
				<img src="../assets/Stuffed Peppers.png" alt="Stuffed_peppers" />
			</div>
			<div class="recipe-details-wrapper">
				<div class="recipe-details">
					<div class="prep-time">
						<h3>Prep Time:</h3>
						<span class="time">5 mins</span>
					</div>
					<div class="cook-time">
						<h3>Cook Time:</h3>
						<span class="time">1 hr 25 mins</span>
					</div>
					<div class="total-time">
						<h3>Total Time:</h3>
						<span class="time">1 hr 30 mins</span>
					</div>
					<div class="servings">
						<h3>Servings:</h3>
						<span class="quantity">6</span>
					</div>
					<div class="yield">
						<h3>Yield:</h3>
						<span class="quantity">6 stuffed peppers</span>
					</div>
				</div>
				<hr />
				<div class="jump-to">
					<a href="#nutrition-facts">Jump to Nutrition Facts</a>
				</div>
			</div>
		</section>
		<div class="Ingredients-and-steps">
			<div class="Ingredients">
				<h2>Ingredients</h2>
				<ul>
					<li>1 cup cold water</li>
					<li>½ cup uncooked long grain white rice</li>
					<li>1 tablespoon vegetable oil</li>
					<li>1 pound ground beef</li>
					<li>6 medium green bell peppers</li>
					<li>16 ounces tomato sauce, divided</li>
					<li>1 tablespoon Worcestershire sauce</li>
					<li>¼ teaspoon garlic powder</li>
					<li>¼ teaspoon onion powder</li>
					<li>salt and ground black pepper to taste</li>
					<li>1 teaspoon Italian seasoning</li>
				</ul>
			</div>
			<div class="steps">
				<h2>Directions</h2>
				<div class="step step1">
					<h3>Step 1</h3>
					<p>
						Gather all ingredients, and preheat the oven to 350 degrees F
						(175 degrees C).
					</p>
				</div>
				<div class="step step2">
					<h3>Step 2</h3>
					<p>
						Bring water and rice to a boil in a covered saucepan. Reduce
						heat to low and simmer until rice is tender, about 20 minutes.
					</p>
				</div>
				<div class="step step3">
					<h3>Step 3</h3>
					<p>
						Meanwhile, heat oil in a skillet over medium heat. Add ground
						beef and cook until evenly browned and crumbly, 7 to 9
						minutes.
					</p>
				</div>
				<div class="step step4">
					<h3>Step 4</h3>
					<p>
						Hollow out bell peppers by removing and discarding the tops,
						seeds, and membranes. Slice the bottoms of the peppers if
						necessary to make sure they stand up straight.
					</p>
				</div>
				<div class="step step5">
					<h3>Step 5</h3>
					<p>
						Arrange peppers in a baking dish with the hollowed sides
						facing upward.
					</p>
				</div>
				<div class="step step6">
					<h3>Step 6</h3>
					<p>
						Prepare filling by mixing cooked beef, cooked rice, 1/2 of the
						tomato sauce, Worcestershire sauce, garlic powder, onion
						powder, salt, and pepper. Spoon an equal amount of filling
						into each hollowed pepper.
					</p>
				</div>
				<div class="step step7">
					<h3>Step 7</h3>
					<p>
						Mix remaining tomato sauce and Italian seasoning in a bowl,
						and pour over the stuffed peppers.
					</p>
				</div>
				<div class="step step8">
					<h3>Step 8</h3>
					<p>
						Bake in the preheated oven, basting with sauce every 15
						minutes, until peppers are tender, about 1 hour.
					</p>
				</div>
				<div class="step step9">
					<h3>Step 9</h3>
					<p>Serve hot and enjoy!</p>
				</div>
			</div>
		</div>
		<script src="index.js"></script>
	</body>
</html>
